* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    max-width: 1912px;
}

img {
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container{
    width: 78%;
    margin: auto;
}
.pb2{
    padding-bottom: 2em;
}
.pt2{
    padding-top: 2em;
}
.blue{
    color: #0061ff;
}


/* button */
.button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0 5em;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1.1em;
}

.small-button{
    height: 3em;
    line-height: 3em;
    font-size: 0.8em;
    padding: 0 3em;
}
.blue-button {
    background-color: #0061ff;
    color: white;
}


/* header */
.nav-bar{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    z-index: 100;
}
.header-col-r, .header-col-l{
    width: 50%;
    line-height: 60px;

}
.header-col-r{
    float: right;
    text-align: right;
    
}
.header-col-l{
    float: left;
    
}
.header-list-l li, .header-list-r li {
    display: inline-block;
    vertical-align: middle;

    
} 
#nav-logo{
    height: 2em;
    width: auto;
    vertical-align: middle;
    text-align: center;
    
}
.header-col-l .header-list-l a, .header-col-r .header-list-r a{
    font-size: 1.2em;
    color: black;
    font-weight: 500;
    padding: 0 0.8em;
    color: inherit;
}




/* Main */
/* Jumbotron */
.jumbotron{
    width: 100vw;
    background-color: rgb(180, 208, 231);
    color: black;
    padding-top: 6em;
    margin-top: 6em;
    margin-bottom: 13em;
}
.jumbotron-cont{
    width: 82%;
    margin: 0 auto;
    padding-bottom: 3em;
}
.jumbotron-cont h1{
    position: relative;
    font-size: 4.5em;
    font-weight: bolder;
    margin-bottom: 0.6em;
}
#jumbo-img{
    position: absolute;
    top: 32em;
    height: 28em;
    width: auto;
}
.jumbo-col-l{
    float: left;
    width: 40%;
}
 .jumbo-col-r{
    float: left;
    width: 60%;
}
.jumbo-col-l p{
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight: 500;
}
#jumbo-annul{
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 3em;
    padding-top: 0.9em;
}
#jumbo-arrow{
    font-size: 3em;
}




/* Plan */
.plan{
    
}
.plan-title{
    height: 100px;
    width: 100%;
    margin-bottom: 1em;

}
.plan-title h1{
    font-size: 2em;
    padding-bottom: 2em;
}
.plan-title input{
    vertical-align: middle;
}
.plan-title span{
    font-size: 1em;
    font-weight: 600;
    padding-left: 3px;
}
/* Plan Col */
.plan-col{
    float: left;
    min-height: 600px;
    width: 30%;
    margin-bottom: 1.8em;
    border: 1px solid lightgrey;
}
.middle{
    margin-left: 5%;
    margin-right: 5%;
}
.cont-col-user{
    height: 8%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid grey;
    font-size: 1.2em;
}
.con-plan-text{
    width: 85%;
    margin: 2em auto;
}
.plan-type h1,
.plan-type p,
.plan-type span
{
    margin-bottom: 1rem;
}
.plan-type span{
    color: gray;
}
.plan-type p{
    font-weight: bold;
}
.plan-info div{
    padding-bottom: 1em;
}
.plan-b{
    width: 100%;
}
.plan-now a{
    color: #0061ff;
    text-decoration: underline;
}
.con-plan-text hr {
    margin-top: 1.5em;
    margin-bottom: 1.8em;
    width: 20%;
    border: 1px solid lightgrey;
}
.plan-benefits li {
    margin: 1.5em 0;
    font-size: 1.1em;
}

/* Enterprise */
.team-plan-enterprise{
    padding: 0.6em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    font-size: 1.5em;
}
.plan-enterprise{
    border: 1px solid lightgrey;
    width: 100%;
    margin-bottom: 4em;
}
.enterprise-col{
    width: 95%;
    margin: 0 auto;
}
.enterprise-col-l{
    float: left;
    width: 65%;
}
.enterprise-col-r{
    float: left;
    width: 35%;
}
.enterprise-col-l h1{
    font-size: 2.1em;
    padding-bottom: 0.6em;
}
.enterprise-col-l h3{
    padding-bottom: 2em;
}
.enterprise-col-l p{
    font-size: 1.1em;
    padding-bottom: 2em;
}
.enterprise-button{
    width: 100%;
}


/* partner */
.partner{
    background-color: lightcoral;
    margin-bottom: 4em;
}
.col-partner-l{
    float: left;
    width: 60%;
    height: 200px;
    background-color: blanchedalmond;
}
.col-partner-r{
    float:right;
    width: 40%;
    height: 200px;
    background-color: darkturquoise;
}

/* info */
.info{
    background-color: cadetblue;
    margin-bottom: 4em;
}
.info-text{
    height: 100px;
    background-color: brown;
}
.col-info{
    float: left;
    height: 400px;
    width: Calc(100%/3 - 10px);
    margin: 0 5px;
    background-color: aliceblue;
}

/* testimonials */
.testimonials{
    background-color: rebeccapurple ;
    margin-bottom: 4em;
}
.testimonials-text{
    height: 100px;
    background-color: gold;
}
.col-testimonials-c{
    float: left;
    width: 40%;
    height: 400px;
    background-color: chocolate;
}
.col-testimonials-s{
    float: left;
    width: 30%;
    height: 400px;
    background-color: rgb(250, 202, 167);
}

/* trial */
.trial{
    height: 200px;
    background-color: dodgerblue;
    margin-bottom: 4em;
}

/* request */
.request{
    height: 400px;
    background-color: rgb(113, 255, 30);
    margin-bottom: 4em;
}

/* Footer */
footer{
    background-color: black;
    height: 200px;
    width: 100%;
}
.footer-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: azure;
}
.footer-container .col{
    float: left;
    width: calc(100%/5 - 10px);
    height: 90%;
    background-color: blueviolet;
    margin: 0 5px;
}