* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

img {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}